/* arrows */
.arrow-up {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid transparent;
	border-bottom: 5px solid red;
}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid red;
	border-bottom: 5px solid transparent;
}
.arrow-right {
	width: 0;
	height: 0;
	border-left: 5px solid red;
	border-right: 5px solid transparent;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}
.arrow-left {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid red;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}

